.container {
    flex: 1;
    background-color: var(--backgroundColor);
}

.contentContainerStyle {
    background-color: var(--backgroundColor);
    padding: 20px;
}

.mainImageStyle {
    height: 80px;
    align-self: 'center';
}

.button {
    background-color: var(--background);
    height: 60px;
    border-radius: 10px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-top: 30px;
}

.buttonTitle {
    color: var(--title);
    font-size: 16px;
}

.title {
    color: var(--font);
    font-size: 16px;
    margin: 20px 24px;
}

.descriptions {
    color: var(--gray);
    font-size: 14px;
    margin: 30px 20px 0 0;
    text-align: center;
}

.borderView {
    height: 1.5px;
    background-color: var(--gray);
    width: 100%;
    margin: 24px 0;
    align-self: center;
}

.btnWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardBox {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 325px;
    height: 186px;
}

.cardItemContainer {
    width: 100%;
    height: 100%;
    position: relative;
}

.cardItem {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.textContainer {
    position: absolute;
    bottom: 12px;
    overflow: hidden;
    width: 100%;
    z-index: 999;
    display: flex;
    padding-left: 30px;
    flex-direction: column;
}

.cardTitle {
    color: white;
    font-size: 18px;
    font-family: var(--font-roboto);
    font-weight: 500;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: pre-line;
}

.cardDescription {
    color: white;
    font-size: 16px;
    font-family: var(--font-roboto);
    font-weight: 500;
    margin-top: 6px;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
